:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;

  display: flex;
  justify-content: top; 
  align-items: top;     
  min-height: 100vh;       
  flex-direction: column;  
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.game-card {
  background: #333;
  padding: 20px 30px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, background 0.2s;
  font-size: 1.1rem;
}

.game-card:hover {
  transform: translateY(-5px);
  background: #444;
}


  #user-input-section {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    margin-top: 50px;       
    gap: 10px;              
  }

 
  #userInput {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  
  #saveButton {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  #saveButton:hover {
    background-color: #45a049;
  }


  #savedValue {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
